*{
  	 margin:0;
    padding:0;
}

.rotator{
    background-color:#222;
    width:600px;
    height:322px;
    margin:0px auto;
    position:relative;
    font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:-1px;
    border:3px solid #f0f0f0;
    overflow:hidden;
    
}
img.bg{
    position:absolute;
    top:0px;
    left:0px;
}
.rotator ul{
    list-style:none;
    position:absolute;
    left:-39px;
    top:70px;
    margin-top:6px;
    z-index:999999;
}
.rotator ul li{
	display:block;
	float:right;
	clear:both;
	width:250px;
}
.rotator ul li a{
	width:230px;
	float:right;
	clear:both;
	padding-left:10px;
	padding-top:5px;
	text-decoration:none;
	display:block;
	line-height:22px;
	background-color:#222;
	opacity:0.7;
	color:#f0f0f0;
	font-size:15px;
	border:2px solid #000;
	border-right:none;
	outline:none;

	margin-top: 1px;
	margin-right: -20px;
	margin-bottom: 1px;
	margin-left: 20px;
	font-weight: normal;
}
.rotator ul li a:hover{
      text-shadow:0px 0px 2px #fff;
}
.rotator .heading{
    position:absolute;
    top:0px;
    left:0px;
    width:500px;
}
.rotator .heading h1{
    text-shadow:-1px 1px 1px #555;
    font-weight:normal;
    font-size:46px;
    padding:20px;
}
.rotator .description{
	 font-size: 12px;
    width:300px;
    height:80px;
    position:absolute;
    bottom:10px;
    right:0px;
    padding:20px;
    background-color:#222;
    opacity:0.7;
}
.rotator .description p{
    text-shadow:-1px 1px 1px #000;
    text-transform:none;
    letter-spacing:normal;
    line-height:26px;
    padding-bottom: 10px;
}
a.more{
    color:orange;
    text-decoration:none;
    text-transform:uppercase;
    font-size:10px;
}
a.more:hover{
    color:#fff;
}